/* Fonts (not using automatic Google Fonts). */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200 1000;
  src: local("Nunito") format("truetype"),
    url("/_static/fonts/Nunito/Nunito-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: local("Inter") format("truetype"),
    url("/_static/fonts/Inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: local("JetBrains Mono") format("truetype"),
    url("/_static/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf")
    format("truetype");
}
:root > [data-md-color-scheme] {
  --md-text-font-family: "Inter", sans-serif;
  --md-code-font-family: "JetBrains Mono", monospace;
}
.md-header__topic:not([data-md-component="header-topic"]) {
  font-family: "Nunito", sans-serif;
  /* Slightly increased font size, due to Nunito rendering rather small. */
  font-size: 15.25pt;
}
#app-download-buttons {
  font-family: "Nunito", sans-serif;
}

/* Music Presence homepage background color. */
:root > [data-md-color-scheme="slate"] {
  --md-default-bg-color: #0e0d0f;
  --md-default-bg-color--light: #0e0d0f;
}

/* [Zensical] Various color scheme fixes (light mode). */
:root > [data-md-color-scheme="default"] {
  --md-accent-fg-color: #415a4d;
  --md-accent-fg-color--transparent: #87b98444;
  --md-primary-fg-color: #456cd7;
  --md-code-bg-color: #f5f5f5;
  --md-code-fg-color: #363636;
}
[data-md-color-scheme="default"] .md-sidebar.md-sidebar--secondary .md-nav__item .md-nav__link--active {
  color: black;
}
[data-md-color-scheme="default"] .md-sidebar.md-sidebar--secondary .md-nav__item .md-nav__link.md-nav__link--passed:hover {
  color: black;
}
[data-md-color-scheme="default"] .md-sidebar.md-sidebar--secondary .md-nav__item .md-nav__link:not(.md-nav__link--passed):hover {
  color: black;
  font-weight: 450;
}
[data-md-color-scheme="default"] .md-content .md-path .md-path__link:hover {
  color: black;
}
[data-md-color-scheme="default"] .md-main .md-content a:not(.md-content__button):not([href^="#__tabbed"]):not(.md-path__link):hover {
  color: #758ed4;
}
[data-md-color-scheme="default"] .md-main .md-content a:not(.md-content__button):not([href^="#__tabbed"]):not(.md-path__link):hover code {
  color: #344679;
  background-color: #e8ebf6;
}
[data-md-color-scheme="default"] .md-main .md-content a.headerlink {
  color: inherit;
}
[data-md-color-scheme="default"] .md-footer a:hover {
  color: #555;
}
[data-md-color-scheme="default"] div.tabbed-set {
  border: 1px solid #e7e7e7;
}
[data-md-color-scheme="default"] div.tabbed-set .tabbed-labels {
  background-color: #f9f9f9;
}
[data-md-color-scheme="default"] div.tabbed-set .tabbed-content {
  background-color: #fdfdfd;
}
/* Somehow the tabbed color is the accent color sometimes. */
:root > [data-md-color-scheme="default"] div.tabbed-set label {
  --md-default-fg-color: #222;
}
/* Render download links and subtle links differently from page links. */
[data-md-color-scheme="default"] a[href^="https://github.com/ungive/discord-music-presence/releases/download"],
[data-md-color-scheme="default"] a.subtle-link {
  color: #222;
}
[data-md-color-scheme="default"] a[href^="https://github.com/ungive/discord-music-presence/releases/download"]:hover,
[data-md-color-scheme="default"] a.subtle-link:hover {
  color: #000 !important;
}
:root > [data-md-color-scheme="default"] .tabbed-set {
  --md-code-bg-color: #f3f3f3;
}
:root > [data-md-color-scheme="default"] .tabbed-set .admonition code {
  --md-code-bg-color: #e3e3e3;
}
[data-md-color-scheme="default"] .md-typeset hr {
  border-bottom: .05rem solid #ddd;
}

/* [Zensical] Various color scheme fixes (dark mode). */
:root > [data-md-color-scheme="slate"] {
  --md-accent-fg-color: #8acba7;
  --md-accent-fg-color--transparent: #57957333;
  --md-primary-fg-color: #9fb9ff;
  --md-code-bg-color: #1b1b1b;
  --md-code-fg-color: #bbb;
}
[data-md-color-scheme="slate"] .md-sidebar.md-sidebar--secondary .md-nav__item .md-nav__link--active {
  color: white;
}
[data-md-color-scheme="slate"] .md-sidebar.md-sidebar--secondary .md-nav__item .md-nav__link:hover {
  color: white;
}
[data-md-color-scheme="slate"] .md-sidebar.md-sidebar--secondary .md-nav__item .md-nav__link:hover {
  color: white;
}
[data-md-color-scheme="slate"] .md-content .md-path .md-path__link:hover {
  color: white;
}
[data-md-color-scheme="slate"] .md-main .md-content a:not(.md-content__button):not([href^="#__tabbed"]):not(.md-path__link):hover {
  color: #d3e7ff;
}
[data-md-color-scheme="slate"] .md-main .md-content a:not(.md-content__button):not([href^="#__tabbed"]):not(.md-path__link):hover code {
  color: #d3e7ff;
  background-color: #313942;
}
[data-md-color-scheme="slate"] .md-main .md-content a.headerlink {
  color: inherit;
}
[data-md-color-scheme="slate"] .md-footer a:hover {
  color: #ddd;
}
[data-md-color-scheme="slate"] div.tabbed-set .tabbed-labels {
  background-color: #222;
}
[data-md-color-scheme="slate"] div.tabbed-set .tabbed-content {
  background-color: #1b1b1b;
}
/* Somehow the tabbed color is the accent color sometimes. */
:root > [data-md-color-scheme="slate"] div.tabbed-set * {
  --md-default-fg-color: #ddd !important;
}
/* Render download links and subtle links differently from page links. */
[data-md-color-scheme="slate"] a[href^="https://github.com/ungive/discord-music-presence/releases/download"],
[data-md-color-scheme="slate"] a.subtle-link {
  color: #ddd;
}
[data-md-color-scheme="slate"] a[href^="https://github.com/ungive/discord-music-presence/releases/download"]:hover,
[data-md-color-scheme="slate"] a.subtle-link:hover {
  color: #fff !important;
}
:root > [data-md-color-scheme="slate"] .tabbed-set {
  --md-code-bg-color: #2c2c2c;
}
:root > [data-md-color-scheme="slate"] .tabbed-set .admonition code {
  --md-code-bg-color: #1f1f1f;
}

/* Custom logo with light and dark variants. */
/* https://github.com/squidfunk/mkdocs-material/discussions/2729 */
[data-md-color-scheme="slate"] #logo {
  content: url("../images/logo-dark.png");
}
[data-md-color-scheme="default"] #logo {
  content: url("../images/logo-light.png");
}

/* [Zensical] Fix alignment of the GitHub repository card. */
[data-md-component="header"] > .md-grid {
  padding-right: 1.5rem;
}

/* [Zensical] Give text in the navigation sidebar a little more space so it does not wrap. */
@media screen and (min-width: 76.2344em) {
  [data-md-component="sidebar"][data-md-type="navigation"] {
    width: 12.5rem;
  }
  @supports selector(::-webkit-scrollbar) {
    [dir=ltr] .md-sidebar__inner {
      padding-right: calc(100% - 12.5rem);
    }
  }
}
[data-md-component="sidebar"][data-md-type="toc"] {
  width: 13rem;
  /* margin-right: -1rem; */
}

/* [Zensical] Move the logo a little to the left. */
[data-md-component="logo"] {
  translate: -0.15rem 0;
}

/* @media screen and (min-width: 76.2344em) {
  .md-header__inner {
    padding-left: 1.8em;
  }
} */

.md-header__title {
  margin-left: 0.1em;
}

/* Page CSS. */
.md-footer, .md-copyright {
  font-size: 10pt !important;
}
.md-footer {
  margin-top: 8em;
}
.md-footer-meta {
  padding: .5em;
}
.md-footer-meta__inner {
  padding-top: 0;
  padding-bottom: .25em;
}
.footer-links-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0 .4rem;
}
.footer-links-container a:not(:first-of-type) {
  margin-left: 0;
}
.md-footer .md-copyright {
  padding: 0;
}
@media screen and (min-width: 45em) {
  .md-social {
    padding: 0;
    margin: 0;
  }
}
.md-social__link {
  width: 1.65rem;
}
body > .md-container {
  min-height: 100vh;
}

/* @media screen and (min-width: 1em) {
  html {
    font-size: 150% !important;
  }
} */

.md-typeset pre {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* [Zensical] Make tabbed views more distinctive */
div.tabbed-set {
  border-radius: .4rem !important;
}
div.tabbed-set .tabbed-labels {
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
}
div.tabbed-set .tabbed-content {
  padding-left: 1.25em;
  padding-right: 1.25em;
  border-bottom-left-radius: .4rem;
  border-bottom-right-radius: .4rem;
}

/* Allow disabling any animations when auto-selecting tabbed labels. */
.js .md-typeset .tabbed-set.no-animation .tabbed-labels::before {
  transition: none;
}

/* Download button styling. */
#app-download-buttons {
  margin-bottom: -.75em;
}
.download-button-container {
  display: inline-flex;
  color: inherit !important;
  text-decoration: none !important;
  line-height: normal;
  margin-right: .5em;
  margin-bottom: .75em;
}
.download-button-container:hover,
.download-button-container:visited,
.download-button-container:active {
  color: inherit;
  text-decoration: none;
}
.download-button {
  display: inline-flex;
  align-items: center;
  width: 13em;
  box-sizing: border-box;
  padding: 0.6em 1em;
  border-radius: 6pt;
  gap: .75rem;
}
.download-button .text {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.download-button .title,
.download-button .subtitle {
  white-space: nowrap;
  line-height: 1.2;
}
.download-button .title {
  font-weight: 750;
  font-size: 14.5pt;
}
.download-button .subtitle {
  font-weight: 500;
  font-size: 11.5pt;
}
.download-button .subtitle .small {
  font-size: 9pt;
}
.download-button .icon {
  width: 2.5em;
  height: 2.5em;
  flex-shrink: 0;
  margin-left: auto;
}
.download-button .icon img,
.download-button .icon svg {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.85;
}
.download-button {
  background-color: #eff3fe;
  color: black;
  transition: border 0.2s ease, background 0.2s ease;
}
.no-animation .download-button {
  transition: none !important;
}
[data-md-color-scheme="default"] .download-button {
  border: 2px solid #bacff8;
}
[data-md-color-scheme="default"] .download-button:hover {
  background-color: #f4f6fc;
  border-color: #9fb1d2;
}
[data-md-color-scheme="slate"] .download-button {
  border: 2px solid #eff3fe;
}
[data-md-color-scheme="slate"] .download-button:hover {
  background-color: white;
  border-color: #6c6f78;
}
@media screen and (max-width: 27.5em) {
  .download-button .text {
    flex-direction: row;
    align-items: baseline;
    gap: 0.5em;
  }
  .download-button .subtitle .small {
    font-size: 11pt;
  }
  .download-button-container {
    width: 100%;
    max-width: 20em;
  }
  .download-button {
    width: 100%;
    padding: 0.4em 1em;
    border-radius: 4pt;
  }
  .download-button .icon {
    width: 2em;
    height: 2em;
  }
}

/* [Zensical] Remove the margin for tabbed content on mobile. */
@media screen and (max-width: 44.9844em) {
  .md-content__inner > .tabbed-set .tabbed-labels {
    margin: 0;
    max-width: 100vw;
    scroll-padding-inline-start: 0;
  }
}

/* [Zensical] Fix path caret not being very visible. */
[data-md-color-scheme="slate"] .md-path__item:not(:first-child)::before {
  background-color: hsla(var(--md-hue), 15%, 90%, 0.70);
}
[data-md-color-scheme="default"] .md-path__item:not(:first-child)::before {
  background-color: #000000aa;
}

/* Tray screenshot styling. */
[data-md-color-scheme="slate"] .tray-screenshot {
  background-color: #333;
}
[data-md-color-scheme="default"] .tray-screenshot {
  background-color: #eee;
}
.tray-screenshot {
  border-radius: 1.25em;
  padding: .5em;
}

/* Download heading styling. */
.download-heading {
  display: flex;
  align-items: center;
  gap: .5rem;
  flex-wrap: wrap;
}
.download-heading span {
  margin-right: .25em;
}
.download-heading a {
  display: block;
}
.download-heading img {
  display: block;
  height: .9em;
}
.download-links {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}
@media (max-width: 27.5em) {
  .download-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 0.75em !important;
  }
  .download-links {
    display: flex;
    gap: 0.5rem;
  }
}

/* Styling classes for theme-dependent elements. */
[data-md-color-scheme="slate"] .light-only {
  display: none !important;
}
[data-md-color-scheme="default"] .dark-only {
  display: none !important;
}

/* [Zensical] Do not allow the browser to show the pointless link URL. Also do
not allow the user to select the text.*/
.tabbed-set .tabbed-labels label a {
  pointer-events: none;
  user-select: none;
}

/* [Zensical] Slightly increase the font size for admonitions. */
.md-typeset .admonition {
  font-size: .88em;
}

.anchor-target {
  position: absolute;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  transform: translateY(calc(1.6em - 0.64em));
}

[data-md-color-scheme="slate"] details .tabbed-set {
  border: 1px solid #333;
}
[data-md-color-scheme="default"] details .tabbed-set {
  border: 1px solid #ccc;
}

[data-md-color-scheme="slate"] details summary::after {
  color: white !important;
}
[data-md-color-scheme="default"] details summary::after {
  color: black !important;
}

[data-md-color-scheme="default"] details {
  outline: 1px solid #00000022;
}

/* [Zensical] Change the "info" admonition color to the same color as "note". */
.admonition.info, details.info {
  background-color: #448aff1a !important;
}
.admonition.info .admonition-title::before {
  background-color: #448aff !important;
}
details.info summary::before {
  background-color: #448aff !important;
}

/* [Zensical] Give tables a slightly larger top and bottom margin. */
.tabbed-set {
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
}

@media (max-width: 27.5em) {
  nobr.desktop {
    white-space: normal;
  }
}

/* [Zensical] Make admonition titles less bold. */
.admonition-title {
  font-weight: 650 !important;
}